/*----------------------Phone Number----------------------*/
.phone-well {
  padding-bottom: 6px;
  border-radius: 0;
  padding-right: 90px;  
   margin-bottom: 0px;
   background: #474747;
   color: #61B6E2;
   border-style: none;
}

/*--------------------------Menu Bar-----------------------*/
.navbar {
  background:transparent;
  border-style: none;
}

/*---Makes Menu bar transparent dark----*/
.navbar-cami {
  background-color: rgba(100,100,100,0.5);
}

.navbar-default .navbar-brand > p{
    color: white;
    font-size: 30px;
    font-family: Lobster;
}

/* LOGO */
.navbar-default .navbar-brand {
    color: red;

}

/* links */
.navbar-default .navbar-nav > li > a {
    color: white;
    /*background: red;*/
}


/*home*/
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #61B6E2;
    background: none;
}




/*-----------------------------JUMBOTRON----------------------*/

.container .jumbotron {
  background: url('img/background2.jpg') ; 
  margin-top: -70px;
  z-index: -3;
  background-size: cover;
  min-height: 400px;  
  color: white;
  border-radius: 0px;
  /*margin-bottom: 0px;*/
}


.jumbo-text {
  padding: 30px 0px 0px 33px;
}

.jumbotron .jumbo-text-p{
  padding: 0px 0px 0px 33px;
  padding-right: 63%;
  font-size: 13px;
}

.btn-1{
  font-size: 14px;
  margin-left: 253px;
  margin-top: -90px;
  border-style: 1px solid black;
  background: rgba(100,100,100,0.5);
  color: white;
  border-radius: 0px;
  text-shadow:none !important;
}

/*----------------------PROFILE HEADING----------------------*/
.profile-well {
  /*border-radius: 0px;*/
   /*margin-bottom: 0px;*/
   background: #E7E7E7;
   color: #61B6E2;
   border-style: none;
   height: 50px;
   padding-top: 15px;
   padding-left: 50px;
   display: none;
}


/*-----------------------------CAMI SUMMARY----------------------*/


.cami-image {
  width: 300px;
}

.media-profile {
  padding-top: 0px;  
}

/*----------------------APPS HEADING----------------------*/
.app-heading {
  border-radius: 0px;
   margin-bottom: 10px;
   margin-top: 20px;
   background: #474747;
   color: #61B6E2;
   border-style: none;
   height: 50px;
   padding-top: 15px;
   padding-left: 50px;
}

.app-goup {
  margin-right: 40px;
  margin-top: -7px;
}

/*----------------------Apps Test----------------------*/


.textbox:hover {
  opacity:1;
}

/*body color*/
.cont-cam {
  background-color: #EEEEE5;
  padding: 0px;
}

.textbox {
  width:auto;
  height:auto;
  position:absolute;
  top:1%;
  left: 5%;
  right: 5%;
  bottom: 8%;
  opacity:0;
  background-color: rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,.75);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,.75);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  /*padding: 0px;*/

}


/*apps text hover*/
.container .row .textbox {
  color: white;
}

.img-app2 {
    min-width:100%;
    min-height:100%;
}

.thumb-app {
  height: 300px;
  /*background-color: #DEDEDE;*/
  border-style: none;
}

/*----------------------Apps Thumbnails----------------------*/

.btn-app-thumb-1{
  background: rgba(100,100,100,1);
  color: white;
  border-color: black;
  border-radius: 0px;
  text-shadow:none !important;
}

.btn-app-thumb-2{
  border-color: #474747;
  border-radius: 0px;
  text-shadow:none !important;
}



/*-----------------------------NAVBAR END CONTACT----------------------*/

.contact-well{
  margin-bottom: 0px;
}

.navbar-cami-2 {
  /*margin-top: -50px;*/
}

.navbar-cami-3 {
  /*margin-top: 0px;*/
}

/*-----------------------------JUMBOTRON 2----------------------*/

.container .jumbo2{
  background: url('img/lastimg4.jpg') ; 
  margin-top: 0px;
  z-index: -3;
  background-size: cover;
  min-height: 200px;  
  color: rgba(50,50,50,1);
  border-radius: 0px;
  margin-bottom: 0px;
}

/*-----------------------------ICONS----------------------*/

.icon {
  font-size: 40px;
  display: inline-block;
  color: rgb(50,50,50);
  /*margin-right: 3px;*/
}

#phone, #city {
  font-size: 18px;
}

#name {
  font-size: 30px;
  font-family: Lobster;
}

/*-----------------------------CAROUSEL----------------------*/
.carousel {   
   width: 500px;
   /*height: 100px;*/
}


/*---------------test-----------------*/

